In [1]:
%load_ext autoreload
%autoreload 2
if 'sim' not in globals():
    import os; os.chdir('..')
import models
import urbansim.sim.simulation as sim
from urbansim.maps import dframe_explorer

In [ ]:
d = {tbl: sim.get_table(tbl).to_frame() for tbl in ['buildings', 'jobs', 'households']}

Filling column building_type_id with value 1 (46350 values)
Filling column residential_units with value 0 (46350 values)
Filling column year_built with value 1966.0 (46350 values)
Filling column non_residential_sqft with value 0 (46350 values)
Filling column shape_area with value 604.336158108 (0 values)
Filling column zone_id with value 1178 (0 values)

In [ ]:
dframe_explorer.start(d, 
        center=[37.7792, -122.2191],
        zoom=11,
        shape_json='data/zones.json',
        geom_name='ZONE_ID', # from JSON file
        join_name='zone_id', # from data frames
        precision=2)

Bottle v0.12.8 server starting up (using WSGIRefServer())...
Listening on http://localhost:8765/
Hit Ctrl-C to quit.

127.0.0.1 - - [11/May/2015 15:37:44] "GET / HTTP/1.1" 200 28290
127.0.0.1 - - [11/May/2015 15:37:44] "GET /data/zones.json HTTP/1.1" 200 7389418
127.0.0.1 - - [11/May/2015 15:37:50] "GET /map_query/households/empty/zone_id/serialno/mean() HTTP/1.1" 200 23401

df.groupby('zone_id')['serialno'].mean()
df.groupby('zone_id')['income'].mean()

[Click here to explore dataset](http://localhost:8765)