In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os; os.chdir('..')
import models
import orca
from urbansim.maps import dframe_explorer

In [3]:
# Run some model steps
orca.run([
    "neighborhood_vars",
    "rsh_simulate",
    "rrh_simulate",    
], iter_vars=[2010])

Running iteration 1 with iteration value 2010
Running step 'neighborhood_vars'
Computing accessibility variables
Computing sum_residential_units
Filling column building_type_id with value 1 (0 values)
Filling column residential_units with value 0 (0 values)
Filling column year_built with value 1966.0 (0 values)
Filling column non_residential_sqft with value 0 (0 values)
WARNING: this has the hard-coded version which unrealistically increases non-residential square footage to house all the base year jobs
Filling column _node_id with value 91839.0 (4 values)
Filling column shape_area with value 604.336158108 (0 values)
Filling column zone_id with value 1178 (0 values)
Computing sum_nonresidential_units
Computing ave_sqft_per_unit
Computing ave_lot_size_per_unit
Computing population
Computing poor
Computing blacks
Removed 3495 rows because they contain missing values
Computing whites
Removed 28069 rows because they contain missing values
Computing nonwhites
Removed 49824 rows because they contain missing values
Computing hispanics
Removed 5989 rows because they contain missing values
Computing asians
Removed 7970 rows because they contain missing values
Computing renters
Computing singles
Removed 49332 rows because they contain missing values
Computing two_persons
Removed 13712 rows because they contain missing values
Computing three_plus
Removed 14849 rows because they contain missing values
Computing sfdu
Computing ave_hhsize
Computing jobs
Computing ave_income
       sum_residential_units  sum_nonresidential_units  ave_sqft_per_unit  \
count          226060.000000             226060.000000      226060.000000
mean                5.959528                  5.270322           7.233096
std                 1.829781                  2.601860           1.271255
min                 0.000000                  0.000000           0.000000
25%                 5.517122                  4.066589           7.258171
50%                 6.443733                  6.024277           7.414018
75%                 7.027597                  7.063817           7.592335
max                10.149053                 11.929914           8.699681

       ave_lot_size_per_unit     population           poor         blacks  \
count          226060.000000  226060.000000  226060.000000  226060.000000
mean                8.929325       6.825233       5.364610       3.762311
std                 1.933885       1.974727       1.966817       1.985548
min                 0.000000       0.000000       0.000000       0.000000
25%                 8.563902       6.400006       4.527863       2.571602
50%                 8.892104       7.388415       5.782141       3.990696
75%                 9.366335       7.991682       6.655470       5.062765
max                17.866968      10.553695      10.054707       8.750156

              whites      nonwhites      hispanics         asians  \
count  226060.000000  226060.000000  226060.000000  226060.000000
mean        6.390725       5.622786       4.886845       4.885518
std         1.855483       2.080844       1.926005       2.101958
min         0.000000       0.000000       0.000000       0.000000
25%         6.033692       4.773838       3.933408       3.906737
50%         6.958466       6.063407       5.348966       5.286745
75%         7.492790       7.047009       6.210896       6.424274
max         9.882580       9.859282       8.948419       9.559209

             renters        singles    two_persons     three_plus  \
count  226060.000000  226060.000000  226060.000000  226060.000000
mean        4.052804       4.558755       4.774883       5.060497
std         1.519045       1.708682       1.671875       1.730372
min         0.000000       0.000000       0.000000       0.000000
25%         3.515182       3.957136       4.270985       4.539877
50%         4.429089       4.860453       5.188659       5.569474
75%         5.041246       5.582700       5.798198       6.180494
max         7.257352       9.623764       8.827480       8.037095

                sfdu     ave_hhsize           jobs     ave_income
count  226060.000000  226060.000000  226060.000000  226060.000000
mean        5.343503       1.248310       5.301717      10.934395
std         1.749075       0.255474       2.241775       1.963421
min         0.000000       0.000000       0.000000       0.000000
25%         4.958143       1.199903       4.195786      11.037576
50%         5.906678       1.279776       5.800490      11.259076
75%         6.438469       1.367688       6.826318      11.488537
max         8.095656       2.079442      11.713364      13.171155
Time to execute step 'neighborhood_vars': 79.72 s
Running step 'rsh_simulate'
Initial unit tenure assignment: 56% owner occupied, 4% unfilled
count    2.785789e+06
mean     9.940323e+18
std      6.500872e+21
min      1.234878e-23
25%      2.268377e-15
50%      1.616908e-12
75%      1.994779e-09
max      5.887958e+24
dtype: float64
Time to execute step 'rsh_simulate': 37.79 s
Running step 'rrh_simulate'
count    2785789.000000
mean           2.286896
std            0.653378
min            0.529291
25%            1.851349
50%            2.154488
75%            2.601086
max           11.155477
dtype: float64
Time to execute step 'rrh_simulate': 6.12 s
Total time to execute iteration 1 with iteration value 2010: 123.64 s

In [ ]:
d = {tbl: orca.get_table(tbl).to_frame() for tbl in 
         ['buildings', 'residential_units', 'households']}

In [ ]:
dframe_explorer.start(d, 
        center=[37.7792, -122.2191],
        zoom=11,
        shape_json='data/zones.json',
        geom_name='ZONE_ID', # from JSON file
        join_name='zone_id', # from data frames
        precision=2)

Bottle v0.12.8 server starting up (using WSGIRefServer())...
Listening on http://localhost:8765/
Hit Ctrl-C to quit.

127.0.0.1 - - [25/Oct/2015 18:12:01] "GET / HTTP/1.1" 200 28637
127.0.0.1 - - [25/Oct/2015 18:12:02] "GET /data/zones.json HTTP/1.1" 200 7389418
127.0.0.1 - - [25/Oct/2015 18:12:02] "GET /favicon.ico HTTP/1.1" 404 742

### [Click here to explore dataset](http://localhost:8765)   
 (prior cell launches web process, so it will appear unfinished)